

<table class="table table-striped">
  <tbody>
    <tr>
      <td><b>Name: </b><%= @company.name %></td>
    </tr>
    <tr>
      <td><b>Suffix: </b><%= @company.suffix %></td>
    </tr>
    <tr>
      <td><b>Catch Phrase: </b><%= @company.catch_phrase %></td>
    </tr>
    <tr>
      <td><b>Email: </b><%= @company.email %></td>
    </tr>
    <tr>
      <td><b>Start Date: </b><%= @company.start_date %></td>
    </tr>
    <tr>
      <td><b>Industry: </b><%= @company.industry %></td>
    </tr>
    <tr>
        <td> <%= link_to "Edit Company", edit_company_path(@company), class: "btn btn-primary" %>
             <%= link_to "Delete Company", company_path(@company), class: "btn btn-danger", method: :delete%></td>
    </tr>
  </tbody>
</table>




<h1>Locations</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>City</th>
        <th>Street</th>
        <th>State</th>
        <th>Zip</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
        <tr>
          <td><%= link_to location.city, company_location_path(@company, location) %></td>
          <td><%= location.street_name %></td>
          <td><%= location.state %></td>
          <td><%= location.zip_code %></td>
          <td><%= location.country %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<h1>Products</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Department</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.department %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
